.users {
  padding: 100px 0;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  min-width: 400px;
  max-width: min-content;
  height: max-content;
  background-color: #333;
  transition: .5s;

  &__lines {
    position: absolute;
    inset: 0;
    background-color: #000;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 600px;
      height: 120px;
      background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
      animation: animate 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 3px;
      background-color: #292929;
    }
  }
}

.card__content {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
}

.card__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #45f3ff;

  & span {
    font-size: 15px;
    color: #fff;
  }
}

.card__btns {
  display: flex;
  width: 100%;

  & div {
    width: 45%;
  }
}

.card__btn {
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #45f3ff;
  color: #222;
  cursor: pointer;
  opacity: 0.8;

  &_delete {
    background-color: #fff;
  }

  &:hover {
    opacity: 1;
  }
}

/* ------ Animation ------ */

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ------ Media Queries ------ */

/* 1201-1400px */

@media screen and (max-width: 1400px) {
  .cards {
    justify-content: center;
  }
}

/* 451px-575px */

@media screen and (max-width: 575px) {
  .card {
    height: 446px;
  }

  .card__content {
    flex-direction: column;
  }

  .card__btns {
    flex-direction: column;
    gap: 15px;
  }
}
