@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* ------ Media Queries ------ */

/* 1201-1400px */

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1110px;
  }
}


/* 992-1200px */

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 20px;
  }
}